---
layout: default
title: Artikel
permalink: /artikel
---
<section class="container article-page" id="article-page">
  <div class="row">
    <div class="col-lg-12 my-5">
      <h1 class="fw-bold">Daftar Artikel</h1>
    </div>
    {% for post in site.posts %}
    {%assign i = forloop.index | times: 100 %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
    <div class="col-12">
      <div class="h4 py-4 text-secondary fw-bold text-center" id="y{{currentdate}}">{{ currentdate }}</div>
    </div>
    {% assign date = currentdate %}
    {% endif %}
    <div class="col-lg-3 col-12 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="{{i}}">
      {%include postcard.html%}
    </div>
    {% endfor %}
  </div>
</section>