---
layout: default
title: Home
keywords: PHP, CSS, HTML, JavaScript, Java, Laravel, CodeIgniter, Spring Boot, Mikrotik, Networking, Linux, Ubuntu
---

<!-- Start Feature -->
<div class="container feature mb-4"> -->
    <div class="row g-0 p-5 align-items-center rounded">
        <div class="feature col-6">
            <h1 class="fw-bold">dede-irwanto.github.io</h1>
            <hr class="border border-dark border-2 opacity-50" width="230px">
            <p class="lead">Tulisan seorang pemalas.<br />
                <span class="small">Ikatlah ilmu dengan postingan.</span>
            </p>

        </div>
        <div class="feature col-6 d-none d-lg-block">
            <img src="/images/jumbotron-img.jpg" class="img-fluid">
        </div>
    </div>
</div>
<!-- End Feature -->

<!-- Start Article & Sidebar -->
<div class="container">
    <div class="row">
        <!-- Article -->
        <div class="col-lg-9">
            <div class="row">
                {% for post in site.posts %}
                {%assign i = forloop.index | times: 200 %}
                <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="{{i}}">
                    {%include postcard.html%}
                </div>
                {% endfor %}
            </div>
            <div class="text-center mb-4">
                <button class="btn btn-danger" id="loadMore">Tampilkan artikel lainnya...</button>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="col-lg-3">
            <div class="row">
                <div class="col-12">
                    {%include sidebar.html%}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Article & Sidebar -->