<div class="card p-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
    <h5 class="my-4 text-dark">Donasi</h5>
    <div class="text-center">
        <p class="fw-bold">SCAN SAYA</p>
        <img src="/assets/images/saweria.png" alt="saweria, donasi" class="img-thumbnail">
        <p class="fw-bold pb-2 pt-3">ATAU</p>
        <a class="btn btn-danger btn-lg form-control" href="https://saweria.co/dedeirwanto" target="_blank"
            rel="noopener noreferrer">KLIK
            SAYA</a>
    </div>
</div>